/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/
/web/media/
/src/AppBundle/Entity/*~
/.idea
/.idea/*
/web/visitevirtuelle/villa2/
/web/visitevirtuelle/output/
!web/visitevirtuelle/demo
!web/visitevirtuelle/lib
!web/visitevirtuelle/source
!web/visitevirtuelle/sprite.psd
!web/visitevirtuelle/README.md
!web/visitevirtuelle/panodu5aout.p2vr
!web/visitevirtuelle/panodu5aout.ggsk
!web/visitevirtuelle/package.json
!web/visitevirtuelle/index.html
!web/visitevirtuelle/fancybox.jquery.json
!web/visitevirtuelle/gulpfile.js
!web/visitevirtuelle/composer.json
!web/visitevirtuelle/CHANGELOG.md
!web/visitevirtuelle/bower.json
!web/visitevirtuelle/.gitignore
!web/visitevirtuelle/.gitattributes
