    <ul class="marker-list-sm mt-2">
        {% for service in services %}
            <li>
                <a href="#">{{ service.libelle }} </a>
                <span class="badge-service">
                    {{ render(url('fnombre_partenaire_service', {'service': service.id})) }}
                </span>
            </li>
        {% endfor %}
    </ul>
