{% extends "base.html.twig" %}

{% block title %}
    Titre du bien
{% endblock %}

{% block body %}
    <div class="section section-booking">
        <div class="booking-form-wrap">
            {{ render(url('rfrontend_principale')) }}
            <div class="booking-form-toggle d-md-none"><a href="tel:+225 03 25 54 47"><i class="icon-telephone"></i></a>
                <div class="js-booking-form-toggle"><span>Detail</span><span class="close-text js-close-text">CLOSE</span></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                <h1>Villa</h1>
            </div>
            <div class="slider-gallery">
                <ul class="slider-room-gallery-main list-unstyled js-slider-gallery-room-main">
                    <li><img src="images/content/slider-gallery-room-01.jpg" alt=""></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="info-grid">
                        <div class="row align-items-center">
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Mode</div>
                                <div class="info-grid-text">Location</div>
                            </div>
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Localisation</div>
                                <div class="info-grid-text">Cocody</div>
                            </div>
                            <div class="col-6 col-sm">
                                <div class="info-grid-label">Superfice</div>
                                <div class="info-grid-text">120 m<sup>2</sup></div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 mt-md-7"></div>
                    <h2>Description</h2>
                    <p>Quisque tempor ultrices enim, eget convallis justo pharetra vel. In venenatis, nisl scelerisque congue mollis, arcu sapien. Commodo sapien, egestas neque ultricies, iaculis massa sed, porttitor celerisque neque nibh. Aliquam suscipit id libero massa. Etiam commodo quam vitae elit facilisis, eget mole stie libero egestas. Nam ut lacus lacus. Scelerisque neque nibh. Aliquam suscipit id libero laoreet vel quis at massa.</p>
                    <div class="mt-3 mt-md-5"></div>
                    <h2>Géolocalisation</h2>
                    <div class="row">
                        <div class="col-md-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d127106.57832737415!2d-4.061049601343239!3d5.404696785636039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xfc1949efb148f67%3A0x18f4edc4b076deda!2sangre+petro+ivoire!3m2!1d5.4047008!2d-3.991009!5e0!3m2!1sfr!2sci!4v1520258597609" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="row">
                        <div class="col-sm col-lg-12">
                            <div class="info-box-color">
                                <div class="row details">
                                    <div class="col-sm-8 label">Nombre de pièces</div>
                                    <div class="col-sm-4 value">4</div>
                                </div>
                                <div class="row details">
                                    <div class="col-sm-8 label">Salles d'eau</div>
                                    <div class="col-sm-4 value">4</div>
                                </div>
                                <div class="row details">
                                    <div class="col-sm-8 label">Salle de bain</div>
                                    <div class="col-sm-4 value">4</div>
                                </div>
                                <div class="text-center mt-2">
                                    <div class="info-box-price">300.000 Fcfa</div>
                                    <div class="mt-2"><a href="#" class="btn btn-primary btn-white btn-block">Reservez</a></div>
                                    <p class="p-sm mt-2"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-12 mt-3 mt-sm-0 mt-lg-3">
                            <div class="info-box-grey">
                                <h4>Partenaires</h4>
                                <ul class="icn-list">
                                    <li><i class="icon-telephone"></i>+225 02 51 54 47</li>
                                    <li><i class="icon-closed-envelope"></i><a href="mailto:info@besthotel-email.com">email@partenaire.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                <h2>Autres offres</h2>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex room-carousel js-room-carousel">
                <div class="col-4">
                    <div class="room-card">
                        <div class="room-card-photo">
                            <img src="images/content/bg-villa-m.jpg" alt="" class="img-fluid">
                            <div class="flex-wrap-center">
                                <a href="#" class="btn btn-primary room-qview" data-toggle="modal" data-target="#modalBooking">Voir les détails</a>
                            </div>
                        </div>
                        <div class="room-card-info">
                            <div class="row">
                                <div class="col">
                                    <h3 class="room-type">Villa</h3>
                                </div>
                                <div class="col-auto ml-auto">
                                    <div class="room-card-attr">
                                        <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Offre promotionnelle"><i class="icon-star-black"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="room-size mt-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                                235 m<sup>2</sup>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="room-price">
                                        300.000
                                    </div>
                                </div>
                                <div class="col-auto ml-auto">
                                    <a href="#" class="room-information" data-toggle="popover" data-trigger="hover" data-placement="bottom"><i class="icon-information"></i>Details</a>
                                    <div class="popover-content d-none">
                                        <ul>
                                            <li>Cocody</li>
                                            <li>Location</li>
                                            <li>5 pièces</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="room-card">
                        <div class="room-card-photo">
                            <img src="images/content/bg-villa-m.jpg" alt="" class="img-fluid">
                            <div class="flex-wrap-center">
                                <a href="#" class="btn btn-primary room-qview" data-toggle="modal" data-target="#modalBooking">Voir les détails</a>
                            </div>
                        </div>
                        <div class="room-card-info">
                            <div class="row">
                                <div class="col">
                                    <h3 class="room-type">Villa</h3>
                                </div>
                                <div class="col-auto ml-auto">
                                    <div class="room-card-attr">
                                        <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Offre promotionnelle"><i class="icon-star-black"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="room-size mt-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                                235 m<sup>2</sup>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="room-price">
                                        300.000
                                    </div>
                                </div>
                                <div class="col-auto ml-auto">
                                    <a href="#" class="room-information" data-toggle="popover" data-trigger="hover" data-placement="bottom"><i class="icon-information"></i>Details</a>
                                    <div class="popover-content d-none">
                                        <ul>
                                            <li>Cocody</li>
                                            <li>Location</li>
                                            <li>5 pièces</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="room-card">
                        <div class="room-card-photo">
                            <img src="images/content/bg-villa-m.jpg" alt="" class="img-fluid">
                            <div class="flex-wrap-center">
                                <a href="#" class="btn btn-primary room-qview" data-toggle="modal" data-target="#modalBooking">Voir les détails</a>
                            </div>
                        </div>
                        <div class="room-card-info">
                            <div class="row">
                                <div class="col">
                                    <h3 class="room-type">Villa</h3>
                                </div>
                                <div class="col-auto ml-auto">
                                    <div class="room-card-attr">
                                        <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Offre promotionnelle"><i class="icon-star-black"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="room-size mt-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                                235 m<sup>2</sup>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="room-price">
                                        300.000
                                    </div>
                                </div>
                                <div class="col-auto ml-auto">
                                    <a href="#" class="room-information" data-toggle="popover" data-trigger="hover" data-placement="bottom"><i class="icon-information"></i>Details</a>
                                    <div class="popover-content d-none">
                                        <ul>
                                            <li>Cocody</li>
                                            <li>Location</li>
                                            <li>5 pièces</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="room-card">
                        <div class="room-card-photo">
                            <img src="images/content/bg-villa-m.jpg" alt="" class="img-fluid">
                            <div class="flex-wrap-center">
                                <a href="#" class="btn btn-primary room-qview" data-toggle="modal" data-target="#modalBooking">Voir les détails</a>
                            </div>
                        </div>
                        <div class="room-card-info">
                            <div class="row">
                                <div class="col">
                                    <h3 class="room-type">Villa</h3>
                                </div>
                                <div class="col-auto ml-auto">
                                    <div class="room-card-attr">
                                        <span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Offre promotionnelle"><i class="icon-star-black"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="room-size mt-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                                235 m<sup>2</sup>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="room-price">
                                        300.000
                                    </div>
                                </div>
                                <div class="col-auto ml-auto">
                                    <a href="#" class="room-information" data-toggle="popover" data-trigger="hover" data-placement="bottom"><i class="icon-information"></i>Details</a>
                                    <div class="popover-content d-none">
                                        <ul>
                                            <li>Cocody</li>
                                            <li>Location</li>
                                            <li>5 pièces</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}