{% extends 'backend_layout.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
    <div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="error">
                        <h1>404</h1>
                        <h4>Oups!!!</h4>
                        <h6>{{ message|raw }}</h6>
                        <a href="{{ absolute_url(path('backend')) }}" class="btn btn-pill btn-primary">Retourner à l'accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .error{
            position:relative;
            z-index:10;
            display:inline-block;
            margin-top:5%;
            padding:20px;
        }
        .error h1{
            margin:0;
            font-size:200px;
            font-weight:800
        }
    </style>
{% endblock %}
